<div class="">
  <div style="height:100vh;">
    <div class="">
      <div class="shadow w-20 p-5 position-absolute top-50 start-50 translate-middle">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-6 text-center py-2">Shop Owner Database</h4>
          
          <div class="">
            <label for="ownername">Name</label>
            <div class="">
              <input id="ownername" required #ownername="ngModel" ngModel name="ownername" type="text"
                class="form-control" placeholder="Enter your name">
              <div *ngIf="ownername.invalid && ownername.touched">
                <small class="text-danger" *ngIf="ownername.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="address">Address</label>
            <div class="">
              <input id="address" required #address="ngModel" ngModel name="address" type="text"
                class="form-control" placeholder="Enter your address">
              <div *ngIf="address.invalid && address.touched">
                <small class="text-danger" *ngIf="address.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
  
          <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div><br>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let owner of ownerDetails">
          <td>{{owner.ownerid}}</td>
          <td>{{owner.ownername}}</td>
          <td>{{owner.address}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(owner)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteOwner(owner)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Owner</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateOwner()">
            <h4 class="display-6 text-center py-2">Update Shop Owner</h4>
            
            <div class="">
              <label for="ownername">Name</label>
              <div class="">
                <input id="ownername" required #ownername="ngModel" [(ngModel)]="ownerToUpdate.ownername" name="ownername" type="text"
                  class="form-control" placeholder="Enter your name">
                <div *ngIf="ownername.invalid && ownername.touched">
                  <small class="text-danger" *ngIf="ownername.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="address">Address</label>
              <div class="">
                <input id="address" required #address="ngModel" [(ngModel)]="ownerToUpdate.address" name="address" type="text"
                  class="form-control" placeholder="Enter your address">
                <div *ngIf="address.invalid && address.touched">
                  <small class="text-danger" *ngIf="address.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
       
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
